* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor3);
    font-weight: bold;
}



:root {
    --cor0: #6C786B;
    --cor1: #DFD7B2;
    --cor2: #D1CCAF;
    --cor3: #D2B88E;
    --cor4: #F2DCC2;
}

html,body, main {
    height: 100vh;
    background-color: var(--cor3);
}

main {
    display: flex;
}

.container {
    margin: auto;
    width: 290px;
    height: 620px;
    background-color: var(--cor1);
    border-radius: 10px;
}

.inputs {
    display: grid;
    padding: 20px;
    gap: 10px;
}

#itarefa {
    padding: 10px;
    border: 0;
    outline: 0;
    font-size: 1em;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: .3s;
}

#itarefa:focus {
    box-shadow: 0 0 0 0.2em var(--cor3);
    
}

.botoes {
    font-family: 'Unbounded', cursive;
    padding: 5px;
    border: 0;
    outline: 0;
    font-size: 1em;
    border-radius: 10px;
    transition: .2s;
}

.botoes:hover {
    box-sizing: border-box;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 0 0 0.2em;
}

#lista {
    text-align: center;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}
